.footer {
    max-width: var(--main-width);
    margin: auto;
    padding: 30px;
}

.footer .contacts {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.footer .contacts svg {
    filter: invert(0.5);
    transition: 0.3s;
}

.footer .contacts a:hover svg,
.footer .contacts a:focus svg {
    filter: invert(0);
    transform: translateY(-2px);
    transition: 0s;
}

.footer .contacts a:active svg {
    transform: scale(0.9);
    transition: 0s;
}

.footer .copyright {
    font-size: smaller;
    line-height: 2;
}