@import 'variables';
@import 'mixins';

.editor_user_info {
    display: flex;
    padding: 15px 5px;
}

.editor_head_title {
    @include user-select-none();
    font-size: 170%;
    border-bottom: 1px solid $fg;
}

.editor_user_image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.editor_user_name {
    @include transition(250ms);
    margin-left: 10px;

    &:hover {
        color: $primary-color;
    }

    &:active {
        @include transition(0s);
        color: $primary-hover;
    }
}