<footer class='footer'>
    <div class='innerFooter'>
        <div class='fLinks'>
            <a href='https://www.facebook.com/' title='Facebook' target='_blank' rel='noopener noreferrer'>
                <img src='/media/facebook.svg' alt='facebook'>
            </a>
            <a href='https://www.linkedin.com/' title='Linkedin' target='_blank' rel='noopener noreferrer'>
                <img src='/media/linkedin.svg' alt='linkedin'>
            </a>
            <a href='https://twitter.com/' title='Twitter' target='_blank' rel='noopener noreferrer'>
                <img src='/media/twitter.svg' alt='twitter'>
            </a>
        </div>
        <span>&copy; 2023 &middot; Index &middot; All Rights Reserved</span>
    </div>
</footer>
</body>

</html>