<%- include('header') -%>
<main class='main'>
    <div class='innerMain'>
        <div class='forbidden'>
            <h1>403 Forbidden</h1>
            <hr>
            <p>You don't have access to this page</p>
            <a href='/'>Take me home!</a>
        </div>
    </div>
</main>
<%- include('footer') -%>