@import 'vars';
@import 'mixins';

.main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 16px;
}

.notFound,
.forbidden,
.error {
    @include flex($dir: column, $gap: 10px);
    @include select-none();
    min-height: calc(100vh - 60px - 80px);

    .notFoundTitle,
    .forbiddenTitle,
    .errorTitle {
        font-size: 32px;
    }

    .notFoundInfo,
    .forbiddenIngo {
        color: $mid-75;
    }

    .notFoundBtn,
    .errorBtn {
        @include btn();
    }
}

.loading {
    @include flex();
    min-height: calc(100vh - 60px - 80px);
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid $fg;
    border-right: 4px solid transparent;
    animation: rotation 0.7s linear infinite;
}

.loader::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-bottom: 4px solid $primary;
    border-left: 4px solid transparent;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

// $x: 30px;

// .loader i {
//     width: 20px;
//     height: 20px;
//     display: inline-block;
//     background: $secondary;
//     border-radius: 50%;
//     position: absolute;
// }

// .loader i:nth-child(1) {
//     transform: translate(-$x, 0);
//     animation: loader-1 1s linear infinite;
// }

// .loader i:nth-child(2) {
//     background: $red;
//     transform: translate($x, 0);
//     animation: loader-2 1s linear infinite;
// }

// @keyframes loader-1 {
//     25% {
//         z-index: 2;
//     }

//     50% {
//         transform: translate($x, 0) scale(1);
//     }

//     75% {
//         transform: translate(0, 0) scale(0.75);
//     }

//     100% {
//         transform: translate(-$x, 0) scale(1);
//     }
// }

// @keyframes loader-2 {
//     25% {
//         transform: translate(0, 0) scale(0.75);
//     }

//     50% {
//         transform: translate(-$x, 0) scale(1);
//     }

//     75% {
//         z-index: 2;
//     }

//     100% {
//         transform: translate($x, 0) scale(1);
//     }
// }