$bg: hsl(250, 100%, 5%);
$bg-1: hsla(250, 100%, 5%, 0.1);
$bg-2: hsla(250, 100%, 5%, 0.2);
$bg-3: hsla(250, 100%, 5%, 0.3);
$bg-4: hsla(250, 100%, 5%, 0.4);
$bg-5: hsla(250, 100%, 5%, 0.5);
$bg-6: hsla(250, 100%, 5%, 0.6);
$bg-7: hsla(250, 100%, 5%, 0.7);
$bg-8: hsla(250, 100%, 5%, 0.8);
$bg-9: hsla(250, 100%, 5%, 0.9);

$fg: hsl(0, 0%, 100%);
$fg-1: hsla(0, 0%, 100%, 0.1);
$fg-2: hsla(0, 0%, 100%, 0.2);
$fg-3: hsla(0, 0%, 100%, 0.3);
$fg-4: hsla(0, 0%, 100%, 0.4);
$fg-5: hsla(0, 0%, 100%, 0.5);
$fg-6: hsla(0, 0%, 100%, 0.6);
$fg-7: hsla(0, 0%, 100%, 0.7);
$fg-8: hsla(0, 0%, 100%, 0.8);
$fg-9: hsla(0, 0%, 100%, 0.9);

$mid-25: hsl(0, 0%, 25%);
$mid: hsl(0, 0%, 50%);
$mid-75: hsl(0, 0%, 75%);

$primary: hsl(250, 75%, 75%);
$primary-1: hsla(250, 75%, 75%, 0.1);
$primary-2: hsla(250, 75%, 75%, 0.2);
$primary-3: hsla(250, 75%, 75%, 0.3);
$primary-4: hsla(250, 75%, 75%, 0.4);
$primary-5: hsla(250, 75%, 75%, 0.5);
$primary-6: hsla(250, 75%, 75%, 0.6);
$primary-7: hsla(250, 75%, 75%, 0.7);
$primary-8: hsla(250, 75%, 75%, 0.8);
$primary-9: hsla(250, 75%, 75%, 0.9);

$secondary: hsl(164, 95%, 43%);
$secondary-1: hsla(164, 95%, 43%, 0.1);
$secondary-2: hsla(164, 95%, 43%, 0.2);
$secondary-3: hsla(164, 95%, 43%, 0.3);
$secondary-4: hsla(164, 95%, 43%, 0.4);
$secondary-5: hsla(164, 95%, 43%, 0.5);
$secondary-6: hsla(164, 95%, 43%, 0.6);
$secondary-7: hsla(164, 95%, 43%, 0.7);
$secondary-8: hsla(164, 95%, 43%, 0.8);
$secondary-9: hsla(164, 95%, 43%, 0.9);

$tertiary: hsl(164, 95%, 43%);
$tertiary-1: hsla(164, 95%, 43%, 0.1);
$tertiary-2: hsla(164, 95%, 43%, 0.2);
$tertiary-3: hsla(164, 95%, 43%, 0.3);
$tertiary-4: hsla(164, 95%, 43%, 0.4);
$tertiary-5: hsla(164, 95%, 43%, 0.5);
$tertiary-6: hsla(164, 95%, 43%, 0.6);
$tertiary-7: hsla(164, 95%, 43%, 0.7);
$tertiary-8: hsla(164, 95%, 43%, 0.8);
$tertiary-9: hsla(164, 95%, 43%, 0.9);

$black: hsl(0, 0%, 0%);
$black-1: hsla(0, 0%, 0%, 0.1);
$black-2: hsla(0, 0%, 0%, 0.2);
$black-3: hsla(0, 0%, 0%, 0.3);
$black-4: hsla(0, 0%, 0%, 0.4);
$black-5: hsla(0, 0%, 0%, 0.5);
$black-6: hsla(0, 0%, 0%, 0.6);
$black-7: hsla(0, 0%, 0%, 0.7);
$black-8: hsla(0, 0%, 0%, 0.8);
$black-9: hsla(0, 0%, 0%, 0.9);

$red: hsl(0, 100%, 50%);
$red-1: hsla(0, 100%, 50%, 0.1);
$red-2: hsla(0, 100%, 50%, 0.2);
$red-3: hsla(0, 100%, 50%, 0.3);
$red-4: hsla(0, 100%, 50%, 0.4);
$red-5: hsla(0, 100%, 50%, 0.5);
$red-6: hsla(0, 100%, 50%, 0.6);
$red-7: hsla(0, 100%, 50%, 0.7);
$red-8: hsla(0, 100%, 50%, 0.8);
$red-9: hsla(0, 100%, 50%, 0.9);