$clear: hsla(0, 0%, 0%, 0.0);
$clear-1: hsla(0, 0%, 0%, 0.1);
$clear-2: hsla(0, 0%, 0%, 0.2);
$clear-3: hsla(0, 0%, 0%, 0.3);
$clear-4: hsla(0, 0%, 0%, 0.4);
$clear-5: hsla(0, 0%, 0%, 0.5);
$clear-6: hsla(0, 0%, 0%, 0.6);
$clear-7: hsla(0, 0%, 0%, 0.7);
$clear-8: hsla(0, 0%, 0%, 0.8);
$clear-9: hsla(0, 0%, 0%, 0.9);

$bg: hsla(204, 16%, 13%, 0.933);

$mid: #808080;
$mid-75: #bfbfbf;

$fg: #ffffff;
$fg-01: hsla(0, 0%, 100%, 0.01);
$fg-05: hsla(0, 0%, 100%, 0.05);
$fg-1: hsla(0, 0%, 100%, 0.1);
$fg-2: hsla(0, 0%, 100%, 0.2);
$fg-3: hsla(0, 0%, 100%, 0.3);
$fg-4: hsla(0, 0%, 100%, 0.4);
$fg-5: hsla(0, 0%, 100%, 0.5);
$fg-6: hsla(0, 0%, 100%, 0.6);
$fg-7: hsla(0, 0%, 100%, 0.7);
$fg-8: hsla(0, 0%, 100%, 0.8);
$fg-9: hsla(0, 0%, 100%, 0.9);

$gray: #1a1a1a;
$gray-1: hsla(0, 0%, 10%, 0.1);
$gray-2: hsla(0, 0%, 10%, 0.2);
$gray-3: hsla(0, 0%, 10%, 0.3);
$gray-4: hsla(0, 0%, 10%, 0.4);
$gray-5: hsla(0, 0%, 10%, 0.5);
$gray-6: hsla(0, 0%, 10%, 0.6);
$gray-7: hsla(0, 0%, 10%, 0.7);
$gray-8: hsla(0, 0%, 10%, 0.8);
$gray-9: hsla(0, 0%, 10%, 0.9);

$primary-color: #05d69e;
$primary-color-1: hsla(164, 95%, 43%, 0.1);
$primary-color-2: hsla(164, 95%, 43%, 0.2);
$primary-color-3: hsla(164, 95%, 43%, 0.3);
$primary-color-4: hsla(164, 95%, 43%, 0.4);
$primary-color-5: hsla(164, 95%, 43%, 0.5);
$primary-color-6: hsla(164, 95%, 43%, 0.6);
$primary-color-7: hsla(164, 95%, 43%, 0.7);
$primary-color-8: hsla(164, 95%, 43%, 0.8);
$primary-color-9: hsla(164, 95%, 43%, 0.9);
$primary-hover: hsl(164, 95%, 53%);

$secondary-color: #05d6d6;
$secondary-color-1: hsla(180, 95%, 43%, 0.1);
$secondary-color-2: hsla(180, 95%, 43%, 0.2);
$secondary-color-3: hsla(180, 95%, 43%, 0.3);
$secondary-color-4: hsla(180, 95%, 43%, 0.4);
$secondary-color-5: hsla(180, 95%, 43%, 0.5);
$secondary-color-6: hsla(180, 95%, 43%, 0.6);
$secondary-color-7: hsla(180, 95%, 43%, 0.7);
$secondary-color-8: hsla(180, 95%, 43%, 0.8);
$secondary-color-9: hsla(180, 95%, 43%, 0.9);
$secondary-hover: hsl(180, 95%, 53%);

$tertiary-color: #ff0000;
$tertiary-color-1: hsla(0, 100%, 53%, 0.1);
$tertiary-color-2: hsla(0, 100%, 53%, 0.2);
$tertiary-color-3: hsla(0, 100%, 53%, 0.3);
$tertiary-color-4: hsla(0, 100%, 53%, 0.4);
$tertiary-color-5: hsla(0, 100%, 53%, 0.5);
$tertiary-color-6: hsla(0, 100%, 53%, 0.6);
$tertiary-color-7: hsla(0, 100%, 53%, 0.7);
$tertiary-color-8: hsla(0, 100%, 53%, 0.8);
$tertiary-color-9: hsla(0, 100%, 53%, 0.9);
$tertiary-hover: hsl(0, 100%, 63%);